<div class="row">
   <div class="col-md-6">
      <%= ff.input_field :nominee, placeholder: "Nomination Name", label: false %>
   </div>
   <div class="col-md-6">
     <%= ff.input_field :specialty, placeholder: "Nomination Name", label: false %>
   </div>
</div>
